@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import "tailwindcss";



@theme {
  
  --color-primary: #b8893f;
  --color-background-light: #f8f6eb;
  --color-background-dark: #332b1f;
  --color-chat-bg: #f8f6eb;
  --color-sidebar-bg: #fffaf0;
  --color-bubble-ai: #ffffff;


  --font-display: "Manrope", "sans-serif";
}

@layer base {
  html {
    background: var(--color-background-light);
  }

  body {
    font-family: var(--font-display);
    background: var(--color-background-light);
    color: #1f2937;
    overflow-x: hidden;
    margin: 0;
  }

  #root {
    min-height: 100vh;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-sidebar-bg);
    border-radius: 10px;
  }
}